{% extends 'base.html' %}

{% block title %}Add_Paper{% endblock %}

{% block content %}

    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}


  <h2>Create your Question Paper</h2>
 <div class="container">
  <form method="post">
    {% csrf_token %}
      <p>Question paper Name: {{form.QP_name}}</p>
      <p>Question paper Duration: {{form.Duration}}</p>

      <h3>Select Questions: </h3>

      {% for x in form.Question_List %}
      {% with one=forloop.counter %}
      {% for ques in q_list %}
      {% with two=forloop.counter %}
      {% if one == two %}
      <p><a href="{% url 'Home:view_ques' id=ques.id %}" target="_blank"> {{x}} {{ ques.statement }}</a></p>
      {% endif %}
      {% endwith %}
      {% endfor %}
      {% endwith %}
      {% endfor %}

      <h3>Select Question Modules: </h3>

      {% for x in form.Question_Module_List %}
      {% with one=forloop.counter %}
      {% for ques in qm_list %}
      {% with two=forloop.counter %}
      {% if one == two %}
      <p><a href="{% url 'Home:ques_module_detail' id=ques.id %}" target="_blank"> {{x}} {{ ques.statement }}</a></p>
      {% endif %}
      {% endwith %}
      {% endfor %}
      {% endwith %}
      {% endfor %}

     <button type="submit" value="submit">Create</button>
  </form>
 </div>
{% endblock %}