{% extends 'base.html' %}

{% block title %}Add Questions here{% endblock %}

{% block content %}
  <h2>Details</h2>

  
 
 <span>
        <button><a href="{% url 'Home:add_ques_manually' name=name %}">Descriptive</a></button>
 </span>
 <span>
        <button><a href="{% url 'Home:single_mcq' name=name %}">Single_Choice_MCQ</a></button>
 </span>
 <span>
        <button><a href="{% url 'Home:multicorrect_mcq' name=name %}">Multi_Correct_MCQ</a></button>
 </span>
 <span>
        <button><a href="{% url 'Home:matchingtype' name=name %}">Match The Columns</a></button>
 </span>
<br>
 <span style="text-align:center">
     <button><a href="{% url 'Home:qbList' %}">Home</a></button>
 </span>
{% endblock %}