{% extends 'base.html' %}

{% block title %}Detail{% endblock %}

{% block content %}
  <h2>Details</h2>

 <span>
     <button><a href="{% url 'Home:upload_qbfile' name=qb_name %}">Add File</a></button>
 </span>

 <span>
     <button><a href="{% url 'Home:add_ques_manually' name=qb_name %}">Add Question Manually</a></button>
 </span>

 <span>
     <button><a href="{% url 'Home:delete_qb' name=qb_name %}">Delete this Question Bank</a></button>
 </span>



<form method="GET">
{{ filter.form.as_p }}
<button type="submit">Search</button>
</form>
<table style="width: 100%">
    <tr>
        <th>statement</th>
        <th>answer</th>
        <th>tag</th>
        <th>marks</th>
        <th>difficulty</th>
        <th>edit</th>
    </tr>
    {% for ques in filter.qs %}
    <tr> 
        <td>{{ ques.statement }}</td>
        <td>{{ ques.answer }}</td>
        <td>{{ ques.tag }}</td>
        <td>{{ ques.marks }}</td>
        <td>{{ ques.difficulty }}</td>
        <td><button><a href="{% url 'Home:edit_ques' id=ques.id %}">Edit</a></button></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}