{% extends 'base.html' %}

{% block title %}Detail{% endblock %}

{% block content %}
  <h2>Details</h2>

<span>
     <button><a href="{% url 'Home:qbList' %}">Home</a></button>
 </span>

 <span>
     <button><a href="{% url 'Home:upload_qbfile' name=qb_name %}">Add File</a></button>
 </span>

 <span>
     <button><a href="{% url 'Home:add_ques_manually' name=qb_name %}">Add Question Manually</a></button>
 </span>

 <span>
     <button><a href="{% url 'Home:add_ques_module' name=qb_name %}">Add a Question Module</a></button>
 </span>

 <span>
     <button><a href="{% url 'Home:delete_qb' name=qb_name %}">Delete this Question Bank</a></button>
 </span>



<form method="GET">
{{ filter.form.as_p }}
<button type="submit">Search</button>
</form>
<br><br>
<h2>QUESTIONS</h2>
<div class="container">
<table class="userss" style="width: 100%">
    <tr>
        <th class="stat">statement</th>
        <th class="ans">answer</th>
        <th class="tag">tag</th>
        <th class="marks">marks</th>
        <th class="diff">difficulty</th>
        <th class="ed">edit</th>
    </tr>
    {% for ques in filter.qs %}
    <tr> 
        <td><div><a href="{% url 'Home:view_ques' id=ques.id %}" target="_blank">{{ ques.statement }}</a></div></td>
        <td><div><a href="{% url 'Home:view_ans' id=ques.id %}" target="_blank">{{ ques.answer }}</a></div></td>
        <td>{{ ques.tag }}</td>
        <td>{{ ques.marks }}</td>
        <td>{{ ques.difficulty }}</td>
        <td align="center"><button><a href="{% url 'Home:edit_ques' id=ques.id %}">Edit</a></button></td>
    </tr>
    {% endfor %}
</table>
</div>

<h2>QUESTION MODULES</h2>

{% for qm in ques_module_list %}
    <p><a href="{% url 'Home:ques_module_detail' id=qm.id %}">{{ qm.statement }}</a></p>
{% endfor %}

{% endblock %}