<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
 <h1 align='center'> Welcome {{ user.username }} </h1>
  <div align="center">
     <h3 align="center"> Maintain your list of questions here </h3>
     <button class="button button2"><a  href="{% url 'add_qb' %}">Add Question Bank</a></button>
    </div>
    <br>
    <div style="margin-left: 10px; margin-right: 10px; padding: 10px 20px 20px 10px;  background-color: lightgreen">
    {% for qb in qb_list %}
        <div > {{ qb.name }}
<!--            <a href="{{ qb.qb_file.url }}" target="_blank">Download File</a>-->
            {{ qb.username }}
        </div>
    {% endfor %}
  </div>
  <br><br><br>
  <div style="background-color: #D6AB55">
    <br>
    <div align="center"><span><a class= "four" href="{% url 'logout' %}">Logout</a></span></div>
    
    <p align='center'><a class= "four" href="{% url 'change_password' %}">Change Password</a></p>
    <p align='center'><a class= "four" href="{% url 'edit' %}">Edit Profile</a></p>
    <br>
  </div>

{% else %}
  <p align='center'>Already a User? Login in Here</p>
  <div align="center"><a class='two' href="{% url 'login' %}">LogIn</a></div>
  <p align='center'>New User? Register Here</p>
  <div align="center"><a class='two' href="{% url 'signup' %}">SignUp</a></div>
{% endif %}
{% endblock %}