{% extends 'base.html' %}

{% block title %}Match The Columns{% endblock %}

{% block content %}
<h2><em>Add Match The Columns Type Question's here</em></h2>
<div class="container">
        
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                {{ book_formset }}
            </table>    
            <br> <br> <br> <br>
            
            <div class="container">
                <table style="float: left">
                    
                    {{ article_formset }}
                </table>
                <table style="float: left">
                    
                    {{ article_formset1 }}
                </table>
            </div>
            
            <br><br><br><br><br><br><br><br><br><br><br><br>
            <div style="align: center">
                <button class="button button7" type="submit" ><em>Upload</em></button>
            </div>
                

        </form>
</div>
{% endblock %}