{% extends 'base.html' %}

{% block title %}Detail{% endblock %}

{% block content %}
  <h2 style="text-align:center"><em>Paper Details</em></h2>


    <h4><em> Paper Name: {{ paper.name }}</em></h4>
    <h4><em> Marks: {{ paper.marks }} </em></h4>
    <h4><em> Number Of Questions: {{ paper.total_sum_ques }} Questions </em></h4>
    <h4><em> Duration: {{ paper.duration }} </em></h4>


<span>
     <button class="button button1"><a href="{% url 'Home:qbList' %}"><em>Go To Home</em></a></button>
 </span>
<br><br>
<form method="GET">
    <div style="text-align:center">
        <button class="buttonbase button3" type="submit"><em>Search</em></button>
    </div>
    {{ filter.form.as_p }}

</form>

<br>
<h2 style="text-align:center"><em>Questions</em></h2>
<div class="container">
<table class="users" style="width: 100%">
    <tr>
        <th class="stat" style="padding: 15px"><em>Statement</em></th>
        <th class="ans" style="padding: 15px"><em>Answer</em></th>
        <th class="tag" style="padding: 15px"><em>Tag</em></th>
        
        <th class="diff" style="padding: 15px"><em>Difficulty</em></th>
        <th class="marks" style="padding: 15px"><em>Marks</em></th>
    </tr>
    {% for ques in filter.qs %}
    <tr> 
        <td style="padding: 7px"><div style="white-space: pre-line"><a class="two" href="{% url 'Home:view_ques' id=ques.id %}" target="_blank"><em>{{ ques.statement }}</em></a></div></td>
        <td style="padding: 7px"><div style="white-space: pre-line"><a class="two" href="{% url 'Home:view_ans' id=ques.id %}" target="_blank"><em>{{ ques.answer }}</em></a></div></td>
        <td style="padding: 7px; text-align:center"><em>{{ ques.tag }}</em></td>
        <td style="padding: 7px; text-align:center"><em>{{ ques.marks }}</em></td>
        <td style="padding: 7px; text-align:center"><em>{{ ques.difficulty }}</em></td>
    </tr>
    {% endfor %}
</table>
</div>

<br>

<h2 style="text-align:center"><em>Question Modules</em></h2>

{% for qm in ques_module_list %}
    <p><a class="four" href="{% url 'Home:ques_module_detail' id=qm.id %}"><em>{{ qm.statement }}</em></a></p>
{% endfor %}

<br><br><br><br>
<div style="text-align:center">
     <button class="button button7"><a class="four" href="{% url 'Home:generate_pdf' id=paper.id %}" target="_blank"><em>Export PDF</em></a></button>
 </div>
{% endblock %}