{% extends 'base.html' %}

{% block title %}Detail{% endblock %}

{% block content %}
  <h2 style="text-align:center"><em>Question Module Details</em></h2>

<span>
     <button class="button button1"><a href="{% url 'Home:qbList' %}"><em>Go To Home</em></a></button>
 </span>

<span>
     <button class="button button1"><a href="{% url 'Home:detail_qb' name=qb_name %}"><em>Back To Question Bank Details</em></a></button>
 </span>

<br>
<h3><em>Statement: {{ ques_module.statement }}</em></h3>
<h3><em>Total Marks: {{ ques_module.marks }}</em></h3>
<br>

<form method="GET">
<div style="text-align:center">
    <button class="buttonbase button3" type="submit"><em>Search</em></button>
</div>
<br>
{{ filter.form.as_p }}

</form>

<br>
<h2 style="text-align:center"><em>QUESTIONS</em></h2>
<div class="container">
<table style="width: 100%">
    <tr>
        <th class="stat" style="padding: 15px"><em>Statement</em></th>
        <th class="ans" style="padding: 15px"><em>Answer</em></th>
        <th class="tag" style="padding: 15px"><em>Tag</em></th>
        <th class="marks" style="padding: 15px"><em>Marks</em></th>
        <th class="diff" style="padding: 15px"><em>Difficulty</em></th>
        <th class="ed" style="padding: 15px"><em>Edit</em></th>
    </tr>
    {% for ques in filter.qs %}
    <tr>
        <td style="padding: 7px"><div><a class="four" href="{% url 'Home:view_subques' id=ques.id %}" target="_blank"><em>{{ ques.statement }}</em></a></div></td>
        <td style="padding: 7px"><div><a class="four" href="{% url 'Home:view_subans' id=ques.id %}" target="_blank"><em>{{ ques.answer }}</em></a></div></td>
        <td style="padding: 7px; text-align:center"><em>{{ ques.tag }}</em></td>
        <td style="padding: 7px; text-align:center"><em>{{ ques.marks }}</em></td>
        <td style="padding: 7px; text-align:center"><em>{{ ques.difficulty }}</em></td>
        <td style="padding: 7px; text-align:center"><button class="button5"><a href="{% url 'Home:edit_subques' id=ques.id %}">Edit</a></button></td>
    </tr>
    {% endfor %}
</table>
</div>


{% endblock %}