{% extends 'base.html' %}
{% block title %}See_ques{% endblock %}

{% block content %}
  <h2 style="text-align:center"><u><em>Questions Papers List</em></u></h2>
 <div class="container">
<p><em> You can sort the table according to the column you wish by clicking on column header. </em></p>
<p><em> Click on the Question Paper Name to view detail about the question paper. </em></p>
     <table id="myTable2" style="width: 100%; text-align:center">
    <tr>
        <th class="stat" onclick="sortTable(0)" style="padding: 10px"><em>Question Paper Name</em></th>
        <th class="ans" onclick="sortTable(1)" style="padding: 10px"><em>Marks</em></th>
        <th class="tag" onclick="sortTable(2)"style="padding: 10px"><em>Number of Questions</em></th>
    </tr>
    {% for paper in paper_list %}
    <tr>
        <td style="text-align:left; padding-left: 7px; padding-top: 5px"><div><a class= "four" href="{% url 'Home:paper_detail' name=paper.name %}"><em> {{ paper.name }}</em></a></div></td>
        <td><em>{{ paper.marks }}</em></td>
        <td><em>{{ paper.total_sum_ques }}</em></td>
    </tr>
    {% endfor %}
</table>

         <br><br>
         <div style="text-align:center">
          <button class="button"><a  href="{% url 'Home:add_paper' %}"><em>Create a Question Paper</em></a></button>
          <br>
          <br>
          <button class="button"><a  href="{% url 'Home:qbList' %}"><em>Go to Home</em></a></button>
         </div>

    
</div>

<script>
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("myTable2");
  switching = true;
  // Set the sorting direction to ascending:
  dir = "asc";
  /* Make a loop that will continue until
  no switching has been done: */
  while (switching) {
    // Start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /* Loop through all table rows (excNameept the
    first, which contains table headers): */
    for (i = 1; i < (rows.length - 1); i++) {
      // Start by saying there should be no switching:
      shouldSwitch = false;
      /* Get the two elements you want to compare,
      one from current row and one from the next: */
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /* Check if the two rows should switch place,
      based on the direction, asc or desc: */
      if (dir == "asc") {
          if(n == 0){
            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
              // If so, mark as a switch and break the loop:
              shouldSwitch = true;
              break;
            }
          }
          else {
               if (Number(x.innerHTML) > Number(y.innerHTML)) {
                    //if so, mark as a switch and break the loop:
                    shouldSwitch = true;
                    break;
                }
          }
      }
      else if (dir == "desc") {
            if(n == 0){
                if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                  // If so, mark as a switch and break the loop:
                  shouldSwitch = true;
                  break;
                }
            }
            else {
                if (Number(x.innerHTML) < Number(y.innerHTML)) {
                 //if so, mark as a switch and break the loop:
                   shouldSwitch = true;
                   break;
                }
            }
      }
    }
    if (shouldSwitch) {
      /* If a switch has been marked, make the switch
      and mark that a switch has been done: */
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      // Each time a switch is done, increase this count by 1:
      switchcount ++;
    } else {
      /* If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again. */
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}

</script>
{% endblock %}