{% extends 'base.html' %}

{% block title %}See_ques{% endblock %}

{% block content %}
  <h2>Question-PapersList</h2>
 <div class="container">
    {% for paper in paper_list %}

        <div style="background-color: #55AED6;padding: 5px 5px 5px 10px"><a href="{% url 'Home:paper_detail' %}"> {{ paper.name }}</a></div>
        <br>
          <!-- {{ qb.username }} -->
    {% endfor %}
    <button class="button button2"><a  href="{% url 'Home:add_paper' %}">Create a Question Paper</a></button>
    
    
</div>
{% endblock %}